@model AirCare.Web.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <section>
        <div class="jumbotron">
            <div class="container">
                <h1>
                    Air Care
                </h1>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Please sign in
                        </h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {

                            @Html.ValidationSummary(true, "", new { @class = (!ViewBag.IsModelValid) ? "text-danger" : "" })
                            
                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit"
                                       value="Login">
                                <br /> <a href="/">Back to Home</a>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>