@{
    ViewBag.Title = "Access Denied";
}

<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/landing-page.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
</head>
<section>
    <div class="jumbotron">
        <div class="container">
            <h2 class="text-danger">
                Access Denied
            </h2>
        </div>
    </div>
</section>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <!-- Footer -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small">Copyright &copy; AirCare 2014. All Rights Reserved</p>
            </div>
        </div>
    </div>
</nav>