@{
    ViewBag.Title = "Welcome to Air Care";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<link href="~/Content/Custom/css/datepicker/datepicker.css" rel="stylesheet" />
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<style>
    html, body, #map-canvas {
        height: 300px;
    }
</style>



<h2 class="section-heading">
    Welcome to Air Care
    <br />
</h2>
<div>
    <div class="row">
        <div class="col-lg-3">
            <label for="originSearch">
                Origin
            </label>
            <div>
                <input type="text" id="originSearch" value=""
                       onkeyup="madeAjaxCall('originSearch');">
            </div>
        </div>

        <div class="col-lg-3">
            <label for="destinationSearch">
                Destination
            </label>
            <div>
                <input type="text" id="destinationSearch" value=""
                       onkeyup="madeAjaxCall('destinationSearch');">
            </div>
        </div>

        <div class="col-lg-3">
            <label for="departureDate">
                Departure Date
            </label>
            <div>
                <input type="text" id="departureDate" value="">
            </div>
        </div>

        <div class="col-lg-3">
            <label for="arrivalDate">
                Arrival Date
            </label>
            <div>
                <input type="text" id="arrivalDate" value="">
            </div>
            <br />
        </div>

        <div class="col-lg-3">
            <div>
                <input type="submit" id="btnSearch" class="btn btn-primary"
                       onclick="search();"
                       value="Search" />
            </div>
            <br /> <br />
        </div>
    </div>
</div>

<div id="result" class="col-lg-4"></div>

<div class="col-lg-8" id="map-canvas"></div>

<script src="~/Content/Custom/js/datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/Custom/js/datepicker/datepicker.js"></script>
<script src="~/Content/Custom/js/aircare.js"></script>